.promo-banner {
    background-image: url("../../images/chalkboard.jpg");
    color: white;
    padding: 20px;
    text-align: center;
}

.countdown-timer {
    font-size: 2em;
    margin-top: 10px;
}

.promo-banner h1 {
    font-size: 2.5em;
    margin: 0;
}

.promo-banner p {
    font-size: 1.2em;
}
